<html>
<head>
<title>Literally Any Democrat 2020</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{{ url_for('static', filename='code.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='writ.min.css') }}">
<style>

    html
    {
        font-family: Georgia, Palatino, Lucida Bright, Book Antiqua, serif;
    }
    
    a:link, a:visited
    {
        color: #2E327A;
        background-color: rgba(255, 255, 255, .5);
    }
    
    body
    {
        width: 100%;
        background-color: #eee;
        margin: 0 0 4em 0;
    }

    body>header
    {
        width: 100%;
        margin: 0;
        text-align: left;
        overflow: hidden;
    }
    
    header>img { max-width: none }
    body>main { padding: 0 1rem }
    
</style>
</head>
<body>

<header>
    <img alt="Literally Any Democrat 2020" src="{{ url_for('static', filename='header.png') }}" width="819" height="157">
</header>

<main>

<p>
    So many Democrats are running for office in 2020! You can help take back
    the U.S. Senate or help fix legislature-controlled partisan gerrymandering
    by supporting these candidates throughout the year, but how should you
    pick one to support? <strong>Let us help you pick literally any Democrat at
    random.</strong>
</p>

<section id="candidate" style="display: none">
    <h1>
        <span id="name1">Joe Blow</span>
        is <span id="verb"></span>
        for <span id="race">Parliament</span>.
    </h1>
    
    <p id="reason">
        
    </p>
    
    <h2>
        📅 The <span id="election">general election is November 2020</span>,
        <a id="link" href="#">support <span id="name2">Joe Blow</a> 💰
    </h2>
</section>

<p>
    🎲 Reload this page to randomly pick someone else.
</p>

<hr>

<h3>How Can I Help?</h3>

<ul>
    <li>
        Support the campaigns of the candidates above.
    </li>
    <li>
        <a href="https://github.com/migurski/literally-any-democrat/issues/new?title=Add+candidate+link">Let us know about candidate campaign website or donation URLs</a>.
    </li>
    <li>
        <a href="https://github.com/migurski/literally-any-democrat/issues/new?title=New+candidates+are+available">Let us know if you see candidates</a>
        on Ballotpedia’s
        <a href="https://ballotpedia.org/State_legislative_elections,_2020">State legislative elections</a>
        and <a href="https://ballotpedia.org/United_States_Senate_elections,_2020">U.S. Senate elections</a>
        pages who we haven’t included here.
    </li>
    <li>
        Support <a href="https://ballotpedia.org/Ballotpedia:Donate">Ballotpedia,
        whose candidate listings we use</a>.
    </li>
</ul>

<h3>What States Are Included?</h3>

<p>
    We are initially including candidates for
    <a href="https://swingleft.org/p/super-states">Swing Left Super States</a>
    whose filing deadlines have passed.
</p>

<blockquote>
    Last cycle, Swing Left pointed you towards your closest Swing District as
    the most effective place to focus your volunteer time and donations. And
    everybody is familiar with Swing States. But the 2020 cycle is giving us
    something new and exciting: what we’re calling the “Super States.” If you
    overlay the target maps, the most important battles to win the White House,
    the Senate, and the once-in-a-decade fight to control redistricting are
    concentrated in the same few states. By focusing on them, we can maximize
    the impact of our efforts, working on many or all of these important
    contests at the same time.
</blockquote>

<p>
    Currently, that’s mostly Texas and North Carolina. We will add candidates
    as more filing deadlines pass and narrow them down to general election
    candidates after primary elections happen in Spring and Summer 2020.
</p>

<div style="overflow-x: auto; overflow-y: hidden">
<table style="margin-bottom: 1px">
    <thead>
        <tr>
            <th>State</th>
            <th>Chamber</th>
            <th>Reason</th>
            <th>Filing Deadline</th>
            <th>Primary Election</th>
            <th>Candidates</th>
        </tr> 
    </thead> 
    <tbody> 
        <tr id="first-state">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>

<script language="javascript">
    load_candidates('{{candidates_url}}');
    load_states('{{states_url}}');
</script>

<h3>About</h3>

<p>
    <i>Literally Any Democrat</i> is a thing by Michal Migurski.
    <a href="https://github.com/migurski/literally-any-democrat/issues">Get in touch via Github Issues</a>.
</p>

</main>

</body>
</html>
